.initbutton {
  position: absolute;
  left: 20px;
  top: 15px;
  padding: 5px;
  background: #407f50;
  background-image: url("../assets/noise.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(67, 127, 80, 0.2)), to(rgba(67, 127, 80, 0.2))), url("../assets/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(67, 127, 80, 0.2), rgba(67, 127, 80, 0.2)), url("../assets/noise.png");
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, rgba(67, 127, 80, 0.2), rgba(67, 127, 80, 0.2)), url("../assets/noise.png");
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, rgba(67, 127, 80, 0.2), rgba(67, 127, 80, 0.2)), url("../assets/noise.png");
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(67, 127, 80, 0.2), rgba(67, 127, 80, 0.2)), url("../assets/noise.png");
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(67, 127, 80, 0.2), rgba(67, 127, 80, 0.2)), url("../assets/noise.png");
  /* W3C */
  cursor: pointer;
  border: solid thin rgba(10, 10, 10, 0.4);
  padding: 10px;
  font-size: 18px;
  -moz-border-radius: 5px;
  border-radius: 5px; }

.initbutton.active {
  -moz-box-shadow: inset 0 0 10px #83e82f;
  -webkit-box-shadow: inset 0 0 10px #83e82f;
  box-shadow: inset 0 0 10px #83e82f; }

.initbutton.active:hover {
  background: #54895a;
  background-image: url("../assets/noise.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 137, 90, 0.2)), to(rgba(84, 137, 90, 0.2))), url("../assets/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(84, 137, 90, 0.2), rgba(84, 137, 90, 0.2)), url("../assets/noise.png");
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, rgba(84, 137, 90, 0.2), rgba(84, 137, 90, 0.2)), url("../assets/noise.png");
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, rgba(84, 137, 90, 0.2), rgba(84, 137, 90, 0.2)), url("../assets/noise.png");
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(84, 137, 90, 0.2), rgba(84, 137, 90, 0.2)), url("../assets/noise.png");
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(84, 137, 90, 0.2), rgba(84, 137, 90, 0.2)), url("../assets/noise.png");
  /* W3C */
  -moz-box-shadow: inset 0 0 10px #83e82f;
  -webkit-box-shadow: inset 0 0 10px #83e82f;
  box-shadow: inset 0 0 10px #83e82f; }

.initbutton.active:active {
  background: #2c6e3c;
  background-image: url("../assets/noise.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 110, 60, 0.2)), to(rgba(44, 110, 60, 0.2))), url("../assets/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(44, 110, 60, 0.2), rgba(44, 110, 60, 0.2)), url("../assets/noise.png");
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, rgba(44, 110, 60, 0.2), rgba(44, 110, 60, 0.2)), url("../assets/noise.png");
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, rgba(44, 110, 60, 0.2), rgba(44, 110, 60, 0.2)), url("../assets/noise.png");
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(44, 110, 60, 0.2), rgba(44, 110, 60, 0.2)), url("../assets/noise.png");
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(44, 110, 60, 0.2), rgba(44, 110, 60, 0.2)), url("../assets/noise.png");
  /* W3C */
  -moz-box-shadow: inset 0 0 10px #83e82f;
  -webkit-box-shadow: inset 0 0 10px #83e82f;
  box-shadow: inset 0 0 10px #83e82f; }

.initbutton:active {
  background: #2c6e3c;
  background-image: url("../assets/noise.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(44, 110, 60, 0.2)), to(rgba(44, 110, 60, 0.2))), url("../assets/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(44, 110, 60, 0.2), rgba(44, 110, 60, 0.2)), url("../assets/noise.png");
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, rgba(44, 110, 60, 0.2), rgba(44, 110, 60, 0.2)), url("../assets/noise.png");
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, rgba(44, 110, 60, 0.2), rgba(44, 110, 60, 0.2)), url("../assets/noise.png");
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(44, 110, 60, 0.2), rgba(44, 110, 60, 0.2)), url("../assets/noise.png");
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(44, 110, 60, 0.2), rgba(44, 110, 60, 0.2)), url("../assets/noise.png");
  /* W3C */
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000; }

.initbutton:hover {
  background: #54895a;
  background-image: url("../assets/noise.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 137, 90, 0.2)), to(rgba(84, 137, 90, 0.2))), url("../assets/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(84, 137, 90, 0.2), rgba(84, 137, 90, 0.2)), url("../assets/noise.png");
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, rgba(84, 137, 90, 0.2), rgba(84, 137, 90, 0.2)), url("../assets/noise.png");
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, rgba(84, 137, 90, 0.2), rgba(84, 137, 90, 0.2)), url("../assets/noise.png");
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(84, 137, 90, 0.2), rgba(84, 137, 90, 0.2)), url("../assets/noise.png");
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(84, 137, 90, 0.2), rgba(84, 137, 90, 0.2)), url("../assets/noise.png");
  /* W3C */ }

#handshake_status {
  display: inline;
  font-weight: bold;
  color: rgba(222, 37, 37, 0.8);
  font-family: 'Merriweather Sans', sans-serif; }

#handshake_status.active {
  color: rgba(111, 222, 37, 0.8); }

.jumbobutton {
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  background-color: green;
  border: solid thin rgba(0, 0, 0, 0.5);
  position: absolute;
  background: url("../assets/jumbo_button_up.png") no-repeat;
  background-size: contain; }

.jumbobutton:active {
  background: url("../assets/jumbo_button_down.png") no-repeat;
  background-size: contain; }

.jumbobutton:hover {
  background: url("../assets/jumbo_button_hover.png") no-repeat;
  background-size: contain; }

.jumbobutton.active {
  background: url("../assets/jumbo_button_active.png") no-repeat;
  background-size: contain; }

#top_buttons {
  position: relative;
  left: 0px;
  right: 0px;
  top: 60px;
  bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 800px;
  height: 170px; }

#_left {
  left: 50px; }

#_right {
  right: 50px; }

#jumboslate {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 115px;
  height: 170px; }

*[id^="_jumbo"] {
  position: relative; }

.slatebutton {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  background: url("../assets/slatecell.png") no-repeat;
  background-size: contain; }

.slatebutton:hover {
  background: url("../assets/slatecell_hover.png") no-repeat;
  background-size: contain; }

.slatebutton:active {
  background: url("../assets/slatecell_press.png") no-repeat;
  background-size: contain; }

.slatebutton.active {
  background: url("../assets/slatecell_held.png") no-repeat;
  background-size: contain; }

.slategroup {
  width: 40px;
  height: 60px;
  margin: 5px;
  float: left; }

.subslate {
  width: 20px;
  height: 100%; }

.slaterow {
  width: 800px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden; }

#slaterow1 {
  padding-top: 50px; }

#slaterow2 {
  margin-top: -20px; }
