/** @file general.scss
 *  @brief Styling used for general classes go here.
 *
 *  @author Lucas Ray (ltray@cmu.edu)
 */
.shadow {
  -moz-box-shadow: 0px 0px 2px 1px rgba(32, 32, 32, 0.8);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(32, 32, 32, 0.8);
  box-shadow: 0px 0px 2px 1px rgba(32, 32, 32, 0.8); }

.softshadow {
  -moz-box-shadow: 0px 0px 3px 2px rgba(10, 10, 10, 0.6);
  -webkit-box-shadow: 0px 0px 3px 2px rgba(10, 10, 10, 0.6);
  box-shadow: 0px 0px 3px 2px rgba(10, 10, 10, 0.6); }

.greyshadow {
  -moz-box-shadow: 0px 0px 6px 2px #777;
  -webkit-box-shadow: 0px 0px 6px 2px #777;
  box-shadow: 0px 0px 6px 2px #777; }

.left {
  float: left; }

.right {
  float: right; }

.bordered {
  border: solid thin rgba(0, 0, 0, 0.5); }

.rounded {
  border-radius: 10px;
  -moz-border-radius: 10px; }

.tooltip_header {
  font-weight: bold;
  text-align: center; }

#powerTip {
  max-width: 300px;
  white-space: normal !important; }

.tooltip_link {
  color: #00ccff; }

.focusable {
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

.clickable {
  cursor: pointer; }
