/** @file getting_started.scss
 *  @brief scss styles for our getting started page.
 *
 *  @author Lucas Ray (ltray@cmu.edu)
 */

@import "_mixins.scss";

// variables
$GRAY : rgba(20, 20, 20, 0.8);
$GREEN : rgba(44, 145, 4, 0.8);
$DARK_GREEN : rgba(35, 125, 4, 0.9);

#help {
  font-family: 'Noto Sans', sans-serif;

  margin-left: 15px;
  margin-right: 15px;
  font-size: 20px;
}

#help h1 {
  font-size: 45px;
}

#help h2 {
  font-size: 35px;
}

#help hr {
  color: $GRAY;
  background-color: $GRAY;
  height: 1px;
}

.help_title {
  text-align: center;
  margin-top: 15px;
  margin-bottom: -0px;
}

.getting_started_header {
  color: $DARK_GREEN;
}

.getting_started_header_icon {
  margin-left: 60px;
  margin-top: -5px;
}

.getting_started_content {
  margin-left: 50px;
  padding-left: 15px;
  margin-top: -15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-left: solid thin $GRAY;
}

.getting_started_box {
  width: 50%;
}

#getting_started_back {
  background: rgba(0, 0, 0, 0.8);
  padding: 10px 15px;
  color: #fff;
  display: inline-block;
  position: fixed;
  top: 120px;
  font-size: 14px;
  opacity: 0.7;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
  cursor: pointer;
  text-decoration: none;
}

#getting_started_back:hover {
  opacity: 0.9;
  transition: all 0.7s;
  -webkit-transition: all 0.7s;
  -moz-transition: all 0.7s;
}

// animations
@include keyframes(rotate_back) {
  0% {
    @include transform(rotate(0deg));
  }
  100% {
    @include transform(rotate(360deg));
  }
}

#getting_started_back.in_help {
  @include animation-name(rotate_back);
  @include animation-duration(.5s);
  @include animation-iteration-count(1);
  @include animation-timing-function(ease-in-out);
}

#back_text {
  display: inline;
}

.help_topic {
  color: rgba(165, 0, 250, 1);
  font-size: 35px;
  background: rgba(0, 0, 0, 0.65);
  width: 100%;
  text-align: right;

  position: relative;
  left: 20px;
  padding-right: 20px;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.section_title {
  $WHITE : rgba(222, 222, 222, 0.2);
  background: rgba(222, 222, 222, 1);
  @include noisey($WHITE);
  height: 80px;
}
