/** @file main.scss
 *  @brief Main scss file for our app.
 *
 *  All css/scss files should be written in separate files and aggregated here.
 *  e.g. After writing "splashscreen.scss", include it here via:
 *  @import "splashscreen.css";
 *
 *  @author Lucas Ray (ltray@cmu.edu)
 */
@import "buttons.css";
@import "board.css";
@import "general.css";
@import "loading.css";
@import "bot_bar.css";
@import "plugin.css";
@import "alert.css";
@import "navbar.css";
@import "recording.css";

// mixins
@mixin noisey($color) {
  $NOISE : "../assets/noise.png";
  background-image: url($NOISE);
  background-image: -webkit-gradient(linear, left top, left bottom, from($color), to($color)), url($NOISE);
  background-image: -webkit-linear-gradient(top, $color, $color), url($NOISE); /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, $color, $color), url($NOISE); /* FF3.6+ */;
  background-image: -ms-linear-gradient(top, $color, $color), url($NOISE); /* IE10 */;
  background-image: -o-linear-gradient(top, $color, $color), url($NOISE); /* Opera 11.10+ */;
  background-image: linear-gradient(top, $color, $color), url($NOISE); /* W3C */;
}

* {
  font-family: 'Varela Round', sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  width: 100%;
  height: 100%;

  @include noisey(rgba(222, 222, 222, 1));
}
