/** @file navbar.scss
 *  @brief scss file for our navbar
 *
 *  @author Lucas Ray (ltray@cmu.edu)
 */
/** @file _mixins.scss
 *  @brief Mixins used in other scss files go here
 *
 *  @author Lucas Ray (ltray@cmu.edu)
 */
#top_bar {
  overflow: scroll;
  position: static;
  width: auto;
  height: auto;
  padding-bottom: 10px;
  background: #3c5d47;
  background-image: url("../assets/noise.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(60, 93, 71, 0.2)), to(rgba(60, 93, 71, 0.2))), url("../assets/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(60, 93, 71, 0.2), rgba(60, 93, 71, 0.2)), url("../assets/noise.png");
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, rgba(60, 93, 71, 0.2), rgba(60, 93, 71, 0.2)), url("../assets/noise.png");
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, rgba(60, 93, 71, 0.2), rgba(60, 93, 71, 0.2)), url("../assets/noise.png");
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(60, 93, 71, 0.2), rgba(60, 93, 71, 0.2)), url("../assets/noise.png");
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(60, 93, 71, 0.2), rgba(60, 93, 71, 0.2)), url("../assets/noise.png");
  /* W3C */
  border: solid thin rgba(22, 22, 22, 0.2); }

.topbutton {
  position: static;
  float: left;
  margin-top: 12px;
  margin-left: 15px;
  padding: 5px;
  background: #2e2e2e;
  background-image: url("../assets/noise.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 46, 46, 0.2)), to(rgba(46, 46, 46, 0.2))), url("../assets/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(46, 46, 46, 0.2), rgba(46, 46, 46, 0.2)), url("../assets/noise.png");
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, rgba(46, 46, 46, 0.2), rgba(46, 46, 46, 0.2)), url("../assets/noise.png");
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, rgba(46, 46, 46, 0.2), rgba(46, 46, 46, 0.2)), url("../assets/noise.png");
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(46, 46, 46, 0.2), rgba(46, 46, 46, 0.2)), url("../assets/noise.png");
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(46, 46, 46, 0.2), rgba(46, 46, 46, 0.2)), url("../assets/noise.png");
  /* W3C */
  cursor: pointer;
  border: solid thin rgba(10, 10, 10, 0.4);
  padding: 10px;
  font-size: 18px;
  color: #e6e6e6;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 0 3px #c80000;
  -webkit-box-shadow: inset 0 0 3px #c80000;
  box-shadow: inset 0 0 3px #c80000; }

.topbutton.active {
  -moz-box-shadow: inset 0 0 3px #83e82f;
  -webkit-box-shadow: inset 0 0 3px #83e82f;
  box-shadow: inset 0 0 3px #83e82f; }

.topbutton.active:hover {
  background: #4d4d4d;
  background-image: url("../assets/noise.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 77, 77, 0.2)), to(rgba(77, 77, 77, 0.2))), url("../assets/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(77, 77, 77, 0.2), rgba(77, 77, 77, 0.2)), url("../assets/noise.png");
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, rgba(77, 77, 77, 0.2), rgba(77, 77, 77, 0.2)), url("../assets/noise.png");
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, rgba(77, 77, 77, 0.2), rgba(77, 77, 77, 0.2)), url("../assets/noise.png");
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(77, 77, 77, 0.2), rgba(77, 77, 77, 0.2)), url("../assets/noise.png");
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(77, 77, 77, 0.2), rgba(77, 77, 77, 0.2)), url("../assets/noise.png");
  /* W3C */
  -moz-box-shadow: inset 0 0 3px #83e82f;
  -webkit-box-shadow: inset 0 0 3px #83e82f;
  box-shadow: inset 0 0 3px #83e82f; }

.topbutton.active.tips:active {
  background: #1b1b1b;
  background-image: url("../assets/noise.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 27, 27, 0.2)), to(rgba(27, 27, 27, 0.2))), url("../assets/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url("../assets/noise.png");
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url("../assets/noise.png");
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url("../assets/noise.png");
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url("../assets/noise.png");
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url("../assets/noise.png");
  /* W3C */
  -moz-box-shadow: inset 0 0 3px #83e82f;
  -webkit-box-shadow: inset 0 0 3px #83e82f;
  box-shadow: inset 0 0 3px #83e82f; }

.topbutton.tips:active {
  background: #1b1b1b;
  background-image: url("../assets/noise.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 27, 27, 0.2)), to(rgba(27, 27, 27, 0.2))), url("../assets/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url("../assets/noise.png");
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url("../assets/noise.png");
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url("../assets/noise.png");
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url("../assets/noise.png");
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url("../assets/noise.png");
  /* W3C */
  -moz-box-shadow: inset 0 0 3px #c80000;
  -webkit-box-shadow: inset 0 0 3px #c80000;
  box-shadow: inset 0 0 3px #c80000; }

.topbutton:hover {
  background: #4d4d4d;
  background-image: url("../assets/noise.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(77, 77, 77, 0.2)), to(rgba(77, 77, 77, 0.2))), url("../assets/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(77, 77, 77, 0.2), rgba(77, 77, 77, 0.2)), url("../assets/noise.png");
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, rgba(77, 77, 77, 0.2), rgba(77, 77, 77, 0.2)), url("../assets/noise.png");
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, rgba(77, 77, 77, 0.2), rgba(77, 77, 77, 0.2)), url("../assets/noise.png");
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(77, 77, 77, 0.2), rgba(77, 77, 77, 0.2)), url("../assets/noise.png");
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(77, 77, 77, 0.2), rgba(77, 77, 77, 0.2)), url("../assets/noise.png");
  /* W3C */
  -moz-box-shadow: inset 0 0 3px #c80000;
  -webkit-box-shadow: inset 0 0 3px #c80000;
  box-shadow: inset 0 0 3px #c80000; }

.buttonstatus {
  display: inline;
  font-weight: bold;
  color: rgba(222, 37, 37, 0.8);
  font-family: 'Merriweather Sans', sans-serif; }

.buttonstatus.active {
  color: rgba(111, 222, 37, 0.8); }

#app_title {
  position: absolute;
  overflow: hidden;
  height: 50px;
  right: 40px;
  top: -33px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(46, 46, 46, 0.6);
  font-size: 40px;
  white-space: nowrap; }

@media (max-width: 865px) {
  #app_title {
    position: absolute;
    left: 500px;
    top: -33px;
    right: 0px; } }
