/** @file navbar.scss
 *  @brief scss file for our navbar
 *
 *  @author Lucas Ray (ltray@cmu.edu)
 */

// mixins
@import "_mixins.scss";

#top_bar {
  $DARK_GREEN : rgba(60, 93, 71, 1);
  $DARK_GREEN_TRANSPARENT : rgba(60, 93, 71, .2);

  overflow: scroll;
  position: static;
  width: auto;
  height: auto;
  padding-bottom: 10px;
  background: $DARK_GREEN;
  @include noisey($DARK_GREEN_TRANSPARENT);

  border: solid thin rgba(22, 22, 22, 0.2);
}

.topbutton {
  position: static;
  float: left;
  margin-top: 12px;
  margin-left: 15px;

  $DARK_GRAY : rgba(46, 46, 46, 1);
  $DARK_GRAY_TRANSPARENT : rgba(46, 46, 46, 0.2);
  padding: 5px;
  background: $DARK_GRAY;
  @include noisey($DARK_GRAY_TRANSPARENT);
  cursor: pointer;
  border: solid thin rgba(10, 10, 10, 0.4);
  padding: 10px;

  font-size: 18px;
  color: rgba(230, 230, 230, 1);

  -moz-border-radius: 5px;
  border-radius: 5px;

  @include red_inner_shadow();
}

.topbutton.notoggle {
  @include no_inner_shadow();
}

.topbutton.notoggle:hover {
  @include no_inner_shadow();
}

// HACK: to get specificity, probably TODO should redo
.initbutton.topbutton.notoggle:active {
  @include no_inner_shadow();
}

.initbutton {
  width: 22px;
  height: 22px;
}

// HACK: to get specificity, probably TODO should redo
.helpbutton.topbutton.notoggle:active {
  @include no_inner_shadow();
}

#init_icon {
  width: 30px;
  height: 30px;
  position: relative;
  top: -22px;
  left: -2px;
  background: url("../assets/plug.png") no-repeat;
  background-size: contain;
}

.topbutton.active {
  @include green_inner_shadow();
}

.topbutton.active:hover {
  $LIGHT_GRAY : rgba(77, 77, 77, 1);
  $LIGHT_GRAY_TRANSPARENT : rgba(77, 77, 77, 0.2);
  background: $LIGHT_GRAY;
  @include noisey($LIGHT_GRAY_TRANSPARENT);
  @include green_inner_shadow();
}

// HACK: need to increase specificity of below, so add .tips to selector
.topbutton.active.tips:active {
  $DARKER_GRAY : rgba(27, 27, 27, 1);
  $DARKER_GRAY_TRANSPARENT : rgba(27, 27, 27, 0.2);
  background: $DARKER_GRAY;
  @include noisey($DARKER_GRAY_TRANSPARENT);
  @include green_inner_shadow();
}

// HACK: need to increase specificity of below, so add .tips to selector
.topbutton.tips:active {
  $DARKER_GRAY : rgba(27, 27, 27, 1);
  $DARKER_GRAY_TRANSPARENT : rgba(27, 27, 27, 0.2);
  background: $DARKER_GRAY;
  @include noisey($DARKER_GRAY_TRANSPARENT);
  @include red_inner_shadow();
}

.topbutton:hover {
  $LIGHT_GRAY : rgba(77, 77, 77, 1);
  $LIGHT_GRAY_TRANSPARENT : rgba(77, 77, 77, 0.2);
  background: $LIGHT_GRAY;
  @include noisey($LIGHT_GRAY_TRANSPARENT);
  @include red_inner_shadow();
}

.buttonstatus {
  $HANDSHAKE_RED : rgba(222, 37, 37, 0.8);
  display: inline;
  font-weight: bold;
  color: $HANDSHAKE_RED;
  font-family: 'Merriweather Sans', sans-serif;
}

.buttonstatus.active {
  $HANDSHAKE_GREEN : rgba(111, 222, 37, 0.8);
  color: $HANDSHAKE_GREEN;
}

#app_title {
  position: absolute;
  overflow: hidden;
  height: 50px;
  right: 40px;
  top: -33px;
  font-family: 'Open Sans', sans-serif;
  color: rgba(46, 46, 46, 0.6);
  font-size: 40px;
  white-space: nowrap;
}

@media (max-width:865px) {
  #app_title {
    position: absolute;
    left: 500px;
    top: -33px;
    right: 0px;
  }
}
