/** @file navbar.scss
 *  @brief scss file for our navbar
 *
 *  @author Lucas Ray (ltray@cmu.edu)
 */

// mixins
@mixin noisey($color) {
  $NOISE : "../assets/noise.png";
  background-image: url($NOISE);
  background-image: -webkit-gradient(linear, left top, left bottom, from($color), to($color)), url($NOISE);
  background-image: -webkit-linear-gradient(top, $color, $color), url($NOISE); /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, $color, $color), url($NOISE); /* FF3.6+ */;
  background-image: -ms-linear-gradient(top, $color, $color), url($NOISE); /* IE10 */;
  background-image: -o-linear-gradient(top, $color, $color), url($NOISE); /* Opera 11.10+ */;
  background-image: linear-gradient(top, $color, $color), url($NOISE); /* W3C */;
}

@mixin inner_shadow() {
  -moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;
}

@mixin green_inner_shadow() {
  $THIS_GREEN : rgba(131, 232, 47, 1);
  -moz-box-shadow:    inset 0 0 3px $THIS_GREEN;
  -webkit-box-shadow: inset 0 0 3px $THIS_GREEN;
  box-shadow:         inset 0 0 3px $THIS_GREEN;
}

@mixin red_inner_shadow() {
  $THIS_RED : rgba(200, 0, 0, 1);
  -moz-box-shadow:    inset 0 0 3px $THIS_RED;
  -webkit-box-shadow: inset 0 0 3px $THIS_RED;
  box-shadow:         inset 0 0 3px $THIS_RED;
}

#top_bar {
  $DARK_GREEN : rgba(60, 93, 71, 1);
  $DARK_GREEN_TRANSPARENT : rgba(60, 93, 71, .2);

  position: static;
  width: auto;
  height: 70px;
  background: $DARK_GREEN;
  @include noisey($DARK_GREEN_TRANSPARENT);

  border: solid thin rgba(22, 22, 22, 0.2);
}

.topbutton {
  position: static;
  float: left;
  margin-top: 12px;
  margin-left: 15px;

  $DARK_GRAY : rgba(46, 46, 46, 1);
  $DARK_GRAY_TRANSPARENT : rgba(46, 46, 46, 0.2);
  padding: 5px;
  background: $DARK_GRAY;
  @include noisey($DARK_GRAY_TRANSPARENT);
  cursor: pointer;
  border: solid thin rgba(10, 10, 10, 0.4);
  padding: 10px;

  font-size: 18px;
  color: rgba(230, 230, 230, 1);

  -moz-border-radius: 5px;
  border-radius: 5px;

  @include red_inner_shadow();
}

.topbutton.active {
  @include green_inner_shadow();
}

.topbutton.active:hover {
  $LIGHT_GRAY : rgba(77, 77, 77, 1);
  $LIGHT_GRAY_TRANSPARENT : rgba(77, 77, 77, 0.2);
  background: $LIGHT_GRAY;
  @include noisey($LIGHT_GRAY_TRANSPARENT);
  @include green_inner_shadow();
}

// HACK: need to increase specificity of below, so add .tips to selector
.topbutton.active.tips:active {
  $DARKER_GRAY : rgba(27, 27, 27, 1);
  $DARKER_GRAY_TRANSPARENT : rgba(27, 27, 27, 0.2);
  background: $DARKER_GRAY;
  @include noisey($DARKER_GRAY_TRANSPARENT);
  @include green_inner_shadow();
}

// HACK: need to increase specificity of below, so add .tips to selector
.topbutton.tips:active {
  $DARKER_GRAY : rgba(27, 27, 27, 1);
  $DARKER_GRAY_TRANSPARENT : rgba(27, 27, 27, 0.2);
  background: $DARKER_GRAY;
  @include noisey($DARKER_GRAY_TRANSPARENT);
  @include red_inner_shadow();
}

.topbutton:hover {
  $LIGHT_GRAY : rgba(77, 77, 77, 1);
  $LIGHT_GRAY_TRANSPARENT : rgba(77, 77, 77, 0.2);
  background: $LIGHT_GRAY;
  @include noisey($LIGHT_GRAY_TRANSPARENT);
  @include red_inner_shadow();
}

.buttonstatus {
  $HANDSHAKE_RED : rgba(222, 37, 37, 0.8);
  display: inline;
  font-weight: bold;
  color: $HANDSHAKE_RED;
  font-family: 'Merriweather Sans', sans-serif;
}

.buttonstatus.active {
  $HANDSHAKE_GREEN : rgba(111, 222, 37, 0.8);
  color: $HANDSHAKE_GREEN;
}
