/** @file recording.scss
 *  @brief scss file defining the styles for our recording plugin.
 *
 *  @author Lucas Ray (ltray@cmu.edu)
 */
@-webkit-keyframes record_toggle {
  0% {
    background: url("../assets/recording_on.png") no-repeat;
    background-size: contain; }

  100% {
    background: url("../assets/recording_off.png") no-repeat;
    background-size: contain; } }

@-moz-keyframes record_toggle {
  0% {
    background: url("../assets/recording_on.png") no-repeat;
    background-size: contain; }

  100% {
    background: url("../assets/recording_off.png") no-repeat;
    background-size: contain; } }

@-ms-keyframes record_toggle {
  0% {
    background: url("../assets/recording_on.png") no-repeat;
    background-size: contain; }

  100% {
    background: url("../assets/recording_off.png") no-repeat;
    background-size: contain; } }

@keyframes record_toggle {
  0% {
    background: url("../assets/recording_on.png") no-repeat;
    background-size: contain; }

  100% {
    background: url("../assets/recording_off.png") no-repeat;
    background-size: contain; } }

#recording_toggle {
  position: absolute;
  left: 30px;
  top: 90px; }

#recording_plugin .content {
  height: 150px; }

#recording_toggle {
  background: url("../assets/recording_off.png") no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px; }

#recording_toggle.active {
  -webkit-animation-name: record_toggle;
  -moz-animation-name: record_toggle;
  -ms-animation-name: record_toggle;
  animation-name: record_toggle;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

#recording_toggle:active {
  background: url("../assets/record_button_down_off.png") no-repeat;
  background-size: contain; }

#recording_toggle.active:active {
  background: url("../assets/record_button_down_on.png") no-repeat;
  background-size: contain; }

#recording_name {
  position: absolute;
  left: 95px;
  top: 90px;
  height: 15px;
  -webkit-touch-callout: auto;
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto; }

#recording_name_helper {
  position: absolute;
  left: 95px;
  top: 95px; }

.record_label {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: rgba(45, 84, 59, 0.4); }

#recording_select {
  position: absolute;
  left: 255px;
  top: 90px;
  height: 15px;
  width: 130px; }

#recording_select_helper {
  position: absolute;
  left: 255px;
  top: 95px; }

#send_recording {
  position: absolute;
  left: 420px;
  top: 85px;
  height: 30px;
  width: 130px;
  text-align: center;
  padding: 5px;
  background: #2e2e2e;
  background-image: url("../assets/noise.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(46, 46, 46, 0.2)), to(rgba(46, 46, 46, 0.2))), url("../assets/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(46, 46, 46, 0.2), rgba(46, 46, 46, 0.2)), url("../assets/noise.png");
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, rgba(46, 46, 46, 0.2), rgba(46, 46, 46, 0.2)), url("../assets/noise.png");
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, rgba(46, 46, 46, 0.2), rgba(46, 46, 46, 0.2)), url("../assets/noise.png");
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(46, 46, 46, 0.2), rgba(46, 46, 46, 0.2)), url("../assets/noise.png");
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(46, 46, 46, 0.2), rgba(46, 46, 46, 0.2)), url("../assets/noise.png");
  /* W3C */
  cursor: pointer;
  border: solid thin rgba(10, 10, 10, 0.4);
  padding-top: 10px;
  font-size: 18px;
  color: #e6e6e6;
  -moz-border-radius: 5px;
  border-radius: 5px; }

#send_recording:active {
  background: #1b1b1b;
  background-image: url("../assets/noise.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(27, 27, 27, 0.2)), to(rgba(27, 27, 27, 0.2))), url("../assets/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url("../assets/noise.png");
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url("../assets/noise.png");
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url("../assets/noise.png");
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url("../assets/noise.png");
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(27, 27, 27, 0.2), rgba(27, 27, 27, 0.2)), url("../assets/noise.png");
  /* W3C */ }
