/** @file recording.scss
 *  @brief scss file defining the styles for our recording plugin.
 *
 *  @author Lucas Ray (ltray@cmu.edu)
 */

// mixins
@mixin noisey($color) {
  $NOISE : "../assets/noise.png";
  background-image: url($NOISE);
  background-image: -webkit-gradient(linear, left top, left bottom, from($color), to($color)), url($NOISE);
  background-image: -webkit-linear-gradient(top, $color, $color), url($NOISE); /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, $color, $color), url($NOISE); /* FF3.6+ */;
  background-image: -ms-linear-gradient(top, $color, $color), url($NOISE); /* IE10 */;
  background-image: -o-linear-gradient(top, $color, $color), url($NOISE); /* Opera 11.10+ */;
  background-image: linear-gradient(top, $color, $color), url($NOISE); /* W3C */;
}

// helpers for animations

@mixin animation-name($name) {
  -webkit-animation-name: $name;
  -moz-animation-name: $name;
  -ms-animation-name: $name;
  animation-name: $name;
}

@mixin animation-duration($name) {
  -webkit-animation-duration: $name;
  -moz-animation-duration: $name;
  -ms-animation-duration: $name;
  animation-duration: $name;
}

@mixin animation-timing-function($name) {
  -webkit-animation-timing-function: $name;
  -moz-animation-timing-function: $name;
  -ms-animation-timing-function: $name;
  animation-timing-function: $name;
}

@mixin animation-iteration-count($name) {
  -webkit-animation-iteration-count: $name;
  -moz-animation-iteration-count: $name;
  -ms-animation-iteration-count: $name;
  animation-iteration-count: $name;
}

@mixin animation-direction($name) {
  -webkit-animation-direction: $name;
  -moz-animation-direction: $name;
  -ms-animation-direction: $name;
  animation-direction: $name;
}

@mixin animation-delay($name) {
  -webkit-animation-delay: $name;
  -moz-animation-delay: $name;
  -ms-animation-delay: $name;
  animation-delay: $name;
}

@mixin animation-play-state($name) {
  -webkit-animation-play-state: $name;
  -moz-animation-play-state: $name;
  -ms-animation-play-state: $name;
  animation-play-state: $name;
}

@mixin animation-fill-mode($name) {
  -webkit-animation-fill-mode: $name;
  -moz-animation-fill-mode: $name;
  -ms-animation-fill-mode: $name;
  animation-fill-mode: $name;
}

@mixin keyframes($name) {
  @-webkit-keyframes $name { @content; }
  @-moz-keyframes $name { @content; }
  @-ms-keyframes $name { @content; }
  @keyframes $name { @content; }
}

// animations
@include keyframes(record_toggle) {
  0% {
    background: url("../assets/recording_on.png") no-repeat;
    background-size: contain;
  }

  100% {
    background: url("../assets/recording_off.png") no-repeat;
    background-size: contain;
  }
}

#recording_toggle {
  position: absolute;
  left: 30px;
  top: 90px;
}

#recording_plugin .content {
  height: 150px;
}

#recording_toggle {
  background: url("../assets/recording_off.png") no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

#recording_toggle.active {
  @include animation-name(record_toggle);
  @include animation-duration(1s);
  @include animation-iteration-count(infinite);
}

#recording_toggle:active {
  background: url("../assets/record_button_down_off.png") no-repeat;
  background-size: contain;
}

#recording_toggle.active:active {
  background: url("../assets/record_button_down_on.png") no-repeat;
  background-size: contain;
}

#recording_name {
  position: absolute;
  left: 95px;
  top: 90px;
  height: 15px;

  -webkit-touch-callout: auto;
    -webkit-user-select: auto;
     -khtml-user-select: auto;
       -moz-user-select: auto;
        -ms-user-select: auto;
            user-select: auto;
}

#recording_name_helper {
  position: absolute;
  left: 95px;
  top: 95px;
}

.record_label {
  $DARK_GREEN : rgba(45, 84, 59, 0.4);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $DARK_GREEN;
}

#recording_select {
  position: absolute;
  left: 255px;
  top: 90px;
  height: 15px;
  width: 130px;
}

#recording_select_helper {
  position: absolute;
  left: 255px;
  top: 95px;
}

#send_recording {
  position: absolute;
  left: 420px;
  top: 85px;
  height: 30px;
  width: 130px;
  text-align: center;

  $DARK_GRAY : rgba(46, 46, 46, 1);
  $DARK_GRAY_TRANSPARENT : rgba(46, 46, 46, 0.2);
  padding: 5px;
  background: $DARK_GRAY;
  @include noisey($DARK_GRAY_TRANSPARENT);
  cursor: pointer;
  border: solid thin rgba(10, 10, 10, 0.4);
  padding-top: 10px;

  font-size: 18px;
  color: rgba(230, 230, 230, 1);

  -moz-border-radius: 5px;
  border-radius: 5px;
}

#send_recording:active {
  $DARKER_GRAY : rgba(27, 27, 27, 1);
  $DARKER_GRAY_TRANSPARENT : rgba(27, 27, 27, 0.2);
  background: $DARKER_GRAY;
  @include noisey($DARKER_GRAY_TRANSPARENT);
}
