/** @file recording.scss
 *  @brief scss file defining the styles for our recording plugin.
 *
 *  @author Lucas Ray (ltray@cmu.edu)
 */
@-webkit-keyframes record_toggle {
  0% {
    background: url("../assets/recording_on.png") no-repeat;
    background-size: contain; }

  100% {
    background: url("../assets/recording_off.png") no-repeat;
    background-size: contain; } }

@-moz-keyframes record_toggle {
  0% {
    background: url("../assets/recording_on.png") no-repeat;
    background-size: contain; }

  100% {
    background: url("../assets/recording_off.png") no-repeat;
    background-size: contain; } }

@-ms-keyframes record_toggle {
  0% {
    background: url("../assets/recording_on.png") no-repeat;
    background-size: contain; }

  100% {
    background: url("../assets/recording_off.png") no-repeat;
    background-size: contain; } }

@keyframes record_toggle {
  0% {
    background: url("../assets/recording_on.png") no-repeat;
    background-size: contain; }

  100% {
    background: url("../assets/recording_off.png") no-repeat;
    background-size: contain; } }

#recording_name {
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all; }

#recording_toggle {
  position: absolute;
  left: 20px;
  top: 100px; }

#recording_plugin .content {
  height: 150px; }

#recording_toggle {
  background: url("../assets/recording_off.png") no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px; }

#recording_toggle.active {
  -webkit-animation-name: record_toggle;
  -moz-animation-name: record_toggle;
  -ms-animation-name: record_toggle;
  animation-name: record_toggle;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

#recording_toggle:active {
  background: url("../assets/record_button_down_off.png") no-repeat;
  background-size: contain; }

#recording_toggle.active:active {
  background: url("../assets/record_button_down_on.png") no-repeat;
  background-size: contain; }
