/** @file scripting.scss
 *  @brief scss file defining styles for our scripting plugin.
 *
 *  @author Lucas Ray (ltray@cmu.edu)
 */

// mixins
@import "_mixins.scss";

#scripting_plugin .content {
  height: 150px;
}

#load_scripts {
  position: absolute;
  left: 30px;
  top: 90px;

  background: url("../assets/refresh.png") no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
}

#load_scripts:active {
  background: url("../assets/refresh_active.png") no-repeat;
  background-size: contain;
}


#scripts_select {
  position: absolute;
  left: 95px;
  top: 90px;
  height: 15px;
  width: 135px;
}

#scripts_select_helper {
  position: absolute;
  left: 95px;
  top: 95px;
}

.script_label {
  $DARK_GREEN : rgba(45, 84, 59, 0.8);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: $DARK_GREEN;
}

#run_script {
  position: absolute;
  left: 250px;
  top: 85px;
  height: 30px;
  width: 130px;
  text-align: center;

  $DARK_GRAY : rgba(46, 46, 46, 1);
  $DARK_GRAY_TRANSPARENT : rgba(46, 46, 46, 0.2);
  padding: 5px;
  background: $DARK_GRAY;
  @include noisey($DARK_GRAY_TRANSPARENT);
  cursor: pointer;
  border: solid thin rgba(10, 10, 10, 0.4);
  padding-top: 10px;

  font-size: 18px;
  color: rgba(230, 230, 230, 1);

  -moz-border-radius: 5px;
  border-radius: 5px;
}

#script_message {
  background-color: black;
  width: 600px;
  height: 44px;

  position: absolute;
  left: 430px;
  top: 85px;

  border: solid thin rgba(46, 46, 46, 0.4);

  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 18px;
  padding: 2px;
  padding-left: 7px;

  overflow: scroll;
}

#script_message_helper {
  position: absolute;
  left: 430px;
  top: 40px;
}
