#board {
  position: absolute;
  top: 20px;
  left: 15px;
  right: 15px;
  bottom: 20px;
  background: #549d6e;
  background-image: url("../assets/noise.png");
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(64, 127, 80, 0.2)), to(rgba(64, 127, 80, 0.2))), url("../assets/noise.png");
  background-image: -webkit-linear-gradient(top, rgba(64, 127, 80, 0.2), rgba(64, 127, 80, 0.2)), url("../assets/noise.png");
  /* Chrome 10+, Saf5.1+ */
  background-image: -moz-linear-gradient(top, rgba(64, 127, 80, 0.2), rgba(64, 127, 80, 0.2)), url("../assets/noise.png");
  /* FF3.6+ */
  background-image: -ms-linear-gradient(top, rgba(64, 127, 80, 0.2), rgba(64, 127, 80, 0.2)), url("../assets/noise.png");
  /* IE10 */
  background-image: -o-linear-gradient(top, rgba(64, 127, 80, 0.2), rgba(64, 127, 80, 0.2)), url("../assets/noise.png");
  /* Opera 11.10+ */
  background-image: linear-gradient(top, rgba(64, 127, 80, 0.2), rgba(64, 127, 80, 0.2)), url("../assets/noise.png");
  /* W3C */
  border: solid thin rgba(0, 0, 0, 0.5); }

#emulator {
  border-style: dashed;
  border-width: thick;
  border-color: rgba(68, 124, 88, 0.8);
  position: absolute;
  top: 80px;
  left: 10px;
  right: 10px;
  bottom: 30px;
  overflow: scroll; }
  #emulator .label {
    position: fixed;
    margin-left: 10px;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    color: rgba(45, 84, 59, 0.4);
    font-size: 50px; }
