// css for the board
#board {
  position: absolute;
  top: 20px;
  left: 15px;
  right: 15px;
  bottom: 20px;
//  background-image: url("../assets/texture_back.jpg");
  background-color: #549D6E;
  border: solid thin rgba(0, 0, 0, .5);
}
