// css for buttons
.button {
  width: 40px;
  height: 40px;
  margin: 5px;
  cursor: pointer;
  background-color: green;
  border: solid thin rgba(0, 0, 0, .5);
  position: absolute;

  background: url("../assets/simple_button.png") no-repeat;
  background-size: contain;
}

#_l {
  left: 300px;
  top: 30px;
}

#_r {
  right: 300px;
  top: 30px;
}

#jumboslate {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 115px;
  height: 170px;
}

*[id^="_j"] {
  position: relative;
}
