/** @file plugin.scss
 *  @brief scss styling for plugins.
 *
 *  @author Lucas Ray (ltray@cmu.edu)
 */
$DARK_GREEN : rgba(68, 124, 88, 0.8);
$DARKER_GREEN : rgba(45, 84, 59, 0.4);

// mixins
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
     -moz-transition: $transition-property $transition-time $method;
      -ms-transition: $transition-property $transition-time $method;
       -o-transition: $transition-property $transition-time $method;
          transition: $transition-property $transition-time $method;
}

.plugin {
  @include transition(height, .5s, ease-in-out);
  border-style: dashed;
  border-width: thick;
  border-color: $DARK_GREEN;

  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;

  margin-top: 20px;

  min-height: 70px;

  position: relative;
  overflow: auto;

  .label {
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
    font-family: 'Open Sans', sans-serif;
    color: $DARKER_GREEN;
    font-size: 50px;
  }

  .minimizer {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 20px;
    height: 20px;
    background: url('../assets/minimize.png');
    background-size: contain;
    cursor: pointer;
    border: solid thin rgba(0, 0, 0, 0.1);
  }
}

.plugin.minimized {
  @include transition(height, .5s, ease-in-out);
}
