/** @file version.scss
 *  @brief scss file for formatting our version identifer.
 *
 *  @author Lucas Ray (ltray@cmu.edu)
 */

#version {
  position: relative;
  text-align: right;
  margin-right: 10px;
}
